<!-- Navigation Bar Component -->
<nav class="top-navbar">
    <div class="navbar-container">
        <div class="navbar-left">
                <img src="assets/maze-logo-icon.svg" alt="Maze Logo" class="logo" />
            <span class="logo-text"></span>
        </div>
        <div class="navbar-center">
            <a href="https://github.com/QinbinLi/Maze" target="_blank">Source Code ▾</a>
            <a href="https://arxiv.org/" target="_blank">Paper ▾</a>
            <a href="https://maze-doc.readthedocs.io/en/latest/index.html" target="_blank">Docs ▾</a>
            <a href="cookbook.html">Cookbook ▾</a>
            <a href="#">About Us ▾</a>
        </div>
        <div class="navbar-right">
            <a class="btn-outline" href="cookbook.html">View Cookbook</a>
            <a class="btn-filled" href="#">Sign up</a>
        </div>
    </div>
</nav>


