@tailwind base;
@tailwind components;
@tailwind utilities;

/* 只保留必要的全局配置 */
@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
  
  body {
    @apply min-h-screen w-full overflow-hidden m-0 p-0;
  }
}
